<!doctype html>
	<head>
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <!-- JQuery cdn -->
    <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>

    <link rel= "stylesheet" href = "/stylesheets/browse.css">
    <script type="text/javascript", src ="/scripts/browse.js"></script>

    <title>Browse new recipies</title>
	</head>
	<body>
		 <nav class="navbar navbar-dark">
      <span class="navbar-brand mb-0 h1">Navbar</span>
    </nav>

    <div class="jumbotron">
      <h1 class="display-4">Browse our database of recipies</h1>
      <p class="lead">With over 9000 recipies to choose from, you can find food to satiate even the strongest sayians</p>
      <hr class="my-4">
      <p>Sign in to save your favorite dishes or make a custom plan around a complicated recipe.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg custom-btn" href="#" role="button">Make an account today!</a>
      </p>
    </div>
    <div class="container">
			<div class="card-deck ">
			  <div id = "card0" class="card">
			    <img class="card-img-top" src="/images/food1.jpg" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title"></h5>
			      <p class="card-text description"></p>
			      <p class="card-text"><small class="text-muted"></small></p>
			    </div>
			  </div>
			  <div id = "card1" class="card">
			    <img class="card-img-top" src="/images/food2.jpg" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title"></h5>
			      <p class="card-text description"></p>
			      <p class="card-text"><small class="text-muted"></small></p>
			    </div>
			  </div>
			  <div id = "card2" class="card">
			    <img class="card-img-top" src="/images/food3.jpg" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title"></h5>
			      <p class="card-text description"></p>
			      <p class="card-text"><small class="text-muted"></small></p>
			    </div>
			  </div>
			</div>

			<div class="card-deck mt-5">
			  <div id = "card3" class="card">
			    <img class="card-img-top" src="/images/food4.jpg" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title"></h5>
			      <p class="card-text description"></p>
			      <p class="card-text"><small class="text-muted"></small></p>
			    </div>
			  </div>
			  <div id = "card4" class="card">
			    <img class="card-img-top" src="/images/food5.jpg" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title"></h5>
			      <p class="card-text description"></p>
			      <p class="card-text"><small class="text-muted"></small></p>
			    </div>
			  </div>
			  <div id = "card5" class="card">
			    <img class="card-img-top" src="/images/food6.jpg" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title"></h5>
			      <p class="card-text description"></p>
			      <p class="card-text"><small class="text-muted"></small></p>
			    </div>
			  </div>
			</div>

			<div class="card-deck mt-5 mb-3">
			  <div id = "card6" class="card">
			    <img class="card-img-top" src="/images/food7.jpg" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title"></h5>
			      <p class="card-text description"></p>
			      <p class="card-text"><small class="text-muted"></small></p>
			    </div>
			  </div>
			  <div id = "card7" class="card">
			    <img class="card-img-top" src="/images/food8.jpg" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title"></h5>
			      <p class="card-text description"></p>
			      <p class="card-text"><small class="text-muted"></small></p>
			    </div>
			  </div>
			  <div id = "card8" class="card">
			    <img class="card-img-top" src="/images/food9.jpg" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title"></h5>
			      <p class="card-text description"></p>
			      <p class="card-text"><small class="text-muted"></small></p>
			    </div>
			  </div>
			</div>
		</div>
		<div class= "text-center">
    	<a class="custom-btn btn-dark btn-lg" href="#" role="button">More Recipies</a>
    </div> 


	</body>
</html>