.navbar
{
	background-color: #5e0080; 
}
.jumbotron
{
	background-color: #ffccff;
}

.card
{
	background-color: #f2f2f2;
}
body
{
	background-color: #ffccff;
}

.custom-btn
{
	background-color: #ff6699;
	border-color: #ff6699;
}
#new-plan
{
	margin-top: 10px;
}